.player{
    background-color: white;
    margin-bottom: 0.25rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.playerheading{
    font-size: 1.875rem;
    line-height: 2.25rem;
    color: rgb(64 64 64);
    flex-direction: row;
    display: flex;
    gap: 1rem;
    font-weight: 400;
}
.videocontainer{
    width: 60%;
    align-items: flex-start;
    /* background-color: rgb(0 0 0); */
    height: 100%;
}
.contentcontainer{
    width: 35%;
    /* background-color: rgb(34 197 94); */
    height: 100%;
}
.herosection{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}
.playerimage{
    border-radius: 1rem;
    height: 400px;
    width: 100%;
    /* object-fit: contain; */
}
.categorycard{
    border-color: rgb(163 163 163);
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
    --tw-shadow-color: #737373;
    border-radius: 1rem;
    height: 3rem;
    width: 100%;
    background-color: rgb(255 255 255);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-color: rgb(212 212 212);
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    
}


.catname{
    color: rgb(115 115 115);
    font-size: 0.875rem;
    line-height: 1.25rem;
}
.aboutcourse{
    width: 100%;

}

.aboutcourse p{
    color: rgb(115 115 115);
    font-size: 18px;
}