.tp-fact-item::before {
  position: absolute;
  content: "";
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  z-index: -1;
  width: calc(100% - 40px);
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0px 10px 10px rgba(8, 19, 34, 0.02);

  /* background-color: rgba(255, 255, 255, 0.6); */
  border-radius: 14px;
}

.tp-dashboard-tab-title {
  color: #303651;
  font-size: 26px;
  font-weight: 600;
  padding: 19px 30px 18px 30px;
  border-bottom: none;
}
.tp-dashboard-tab-list {
  padding: 10px 0px;
}

.tp-dashboard-tab-list ul li a {
  color: #697089;
  font-size: 15px;
  font-weight: 500;
  display: inline-block;
  padding: 11px 24px;
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .tp-dashboard-tab-list ul li a {
    padding: 10px 15px;
  }
}
.tp-dashboard-tab-list ul li a.active {
  color: #008080;
  position: relative;
}
.tp-dashboard-tab-list ul li a.active::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  background-color: #008080;
  box-shadow: 0px 1px 2px 0px rgba(20, 56, 181, 0.25);
}
.myside a:hover {
  color: #008080;
}
